.solved-message{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #e6ffe6;
    border: 1px solid #00cc00;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: #006600
}

.clue{
    display: grid;
    align-items: end;
}

.cell{
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.15s, border 0.15s;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
}

.highlighted{
    border: 5px solid #2196f3
}

.non-highlighted{
    border: 1px solid #999
}

.finish-section{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}